html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  }
 
  #bloc_page {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
/* HAUT DE PAGE */
  #titre_principal{
    width: 95%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction:column;
  }
  #logo{
    width: 100px;
    grid-area: 1 / 1;
  }
  img {
    object-fit: cover;
  }
/* MENU DE NAVIGATION */
.nav {
  width: 100%;
  display: grid;
  margin-left: -40px;
  gap: 30px;
  align-items: center;
}
.nav__item {
  margin-top: 15px;
}
.nav__item--hebergements {
  grid-area: 1 / 4;
  justify-self: end;
}
.nav__item--activites {
  grid-area: 1 / 5;
  justify-self: end;
}
.nav__item--inscription {
  grid-area: 1 / 6;
  justify-self: end;
  font-weight: bold;
}
nav {
  padding-top: 10px;
}
  nav a{
    font-size: 1.2em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}
.nav__item--activites:hover, .nav__item--hebergements:hover{
  border-top: #0065fc 3px solid;
  padding-top: 28px;
  margin-top: -15px;
  padding-left: 30%;
  margin-left: -30%;
  padding-right: 30%;
  margin-right: -30%;
  color: #0065fc;
}
  nav a:hover{
    color:#0065FC;
    text-decoration:none;  
  }
  h1{
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0px;
  }
/* BARRE DE RECHERCHE */
.banniere_filtre {
  width: 95%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.bouton{
  display: flex;
  height: 40px;
  width: 300px;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  border-right: none;
}
form{
  margin-top: 0em;
}
.bouton_icon {
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  height: 111%;
  width: 55px;
  border: 1px solid #F2F2F2;
  padding-right: 5px;
  box-shadow: 2px 2px 5px #F2F2F2;
}
.bouton_text{
  color: white;
  background-color: #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 118%;
  border: 2px solid #0065fc;
}
.bouton_text:hover {
  border-color: #0d418f;
  background-color: #0d418f;
}
.btn__button--icon {
  display: none;
}
 
.bouton_icon i {
  margin: 12px 0 0 12px;
}
.fa, .fas{
  font-weight: 900;
}
.fa, .fab, .fab, .fal, .far, .fas{
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-map-marker-alt:before {
  content: "\f3c5";
  padding: 0px 5px 0px 2px;
}
input{
  border-top: 1px solid #F2F2F2;
  border-right: none;
  border-bottom: 1px solid #F2F2F2;
  border-left: none;
  width: 310px;
  height: 106%;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1em;
}
  /* FILTRES */
.options {
  height: 11%;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 5px;
}
.filter{
  margin-left: 15px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 18px 0 0;
  font-size: 1em;
  font-weight: bold;
  border: #dbdada 2px solid;
  border-left: none;
  border-radius: 50px;
}
.filter:hover {
  cursor: pointer;
  background: #DEEBFF;
  transition-duration: 0.25s;
}
.filter:hover .filter__ico {
  background: white;
  transition-duration: 0.25s;
}
a{
  text-decoration: none;
  color:black;
}
.filter__ico {
  border-radius: 50%;
  background-color: #DEEBFF;
  padding: 12px;
  margin-right: 15px;
  color: #0065fc;
  width: 20px;
  display: block;
  float: left;
  margin-top: -12px;
  text-align: center
}
.icon--bill i{
  padding: 1px;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
a:-webkit-any-link{
  cursor: pointer;
}
.fa-money-bill-wave::before{
  content: "\f53a";
  color: #0065FC;
}
.fa-child::before{
  content:"\f1ae";
  color:#0065FC;
}
.fa-heart:before{
  content: "\f004";
  color: #0065FC;
}
.fa-dog:before{
  content: "\f6d3";
  color: #0065FC;
}
p {
font-size: 0.9em;
line-height: 0em;
display: block;
}
.position i {
  color: #0065FC;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -webkit-font-smoothing:antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-info-circle:before {
  content: "\f05a";
  color: #0065FC;
}
/* CORPS DE PAGE */
 
.corps {
  width: 95%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.master {
  border-radius: 15px;
  background-color: #F2F2F2;
  padding: 10px 20px 10px 10px;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
}
.main__grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.grig {
  margin-top: 20px;
  gap: 20px;
}
.card--main {
  padding: 5px;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.card {
  border: 0px black solid; 
  box-shadow: 1px 1px 5px 2px #80808070;
  border-radius: 15px;
  background-color: white;
  margin: auto;
  width: 100%; 
}
.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}
figure {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
a.plus:hover{
  text-decoration: underline;
}
.card--main img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 110px;
}
img {
  object-fit: cover;
}
.card__description {
  margin: 3px;
}
.figure__title {
  line-height: 0.3em;
  margin-top: -10px;
  padding-top: 0;
}
h3 {
  font-size: 0.9em;
  line-height: 1em;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
em{
  font-style: normal;
  color: #0065FC;
}
.bold {
  font-weight: bold;
}
/* AVIS ETOILES */
.true i {
  color: #0065FC;
  font-size: 0.6em;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-star:before {
  content: "\f005";
  color: gray;
  cursor: pointer;
}
.fa-star.blue::before {
  content: "\f005";
  color:#0065FC;
}
.card__notation:hover .fa-star::before {
  content: "\f005";
  color: #0065FC;
}
/* LES PLUS POPULAIRES */
.master {
  border-radius: 15px;
  background-color: #F2F2F2;
  padding: 10px 10px 10px 10px;
  margin: 0;
}
main {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
aside {
  width: 25%;
}
.corps .title, .more {
  margin-left: 30px;
  margin-top: 20px;
}
.aside__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aside__title i {
  color: black;
  margin: 20px 20px 0 0;
}
.fa-chart-line:before {
  content: "\f201";
  color: #000000;
}
.aside__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside__grid, .main__grid {
  margin: 20px;
  gap: 30px;
}
.card--aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  padding: 5px;
}
.card--aside img {
  width: 100px;
  height: 150px;
  border-radius: 15px 0 0 15px;
}
aside .card__description {
  display: flex;
  flex-direction: column;
}
.card__description {
  margin: 10px;
}
/* LES ACTIVITES A MARSEILLE */
section {
  width: 95%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.section__grid {
  display: grid;
  grid-template: repeat(2, 224px) / repeat(4, 1fr);
  margin-top: 20px;
  gap: 20px;
}
.card--vieux-port {
  grid-area: 1 / 1 / 3 / 2;
  align-self: start;
  margin-top: 0;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.hover:hover{
  box-shadow: 2px 2px 5px #d4dae2;
  cursor: pointer;
}
.card--vieux-port img {
  height: 420px;
}
.card--section img {
  border-radius: 15px 15px 0 0;
  width: 100%;}
.section__title {
  margin-left: 5px;
  height: 30px;
}
.section__title h3 {
  padding-left: 10px;
  line-height: 0.8em;
  font-size: 1em;
}
.card--pomegues {
  grid-area: 1 / 2 / 3 / 3;
  align-self: start;
  margin-top: 0;
}
.card--pomegues img {
  height: 200px;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.card--frioul {
  grid-area: 2 / 2 / 4 / 3;
  margin-top: 46px;
}
.card--frioul img {
  height: 130px;
}
.card--calanques {
  grid-area: 1 / 3 / 3 / 4;
  align-self: start;
  margin-top: 0;
}
.card--calanques img {
  height: 420px;
}
.card--notre-dame {
  grid-area: 1 / 4 / 2 / 5;
  align-self: start; 
  margin-top: 0;
}
.card--notre-dame img {
  height: 196px;
}
.card--longchamp {
  grid-area: 2 / 4 / 3 / 5;
  margin-top: 20px;
}
.card--longchamp img {
  height: 156px;
}
/* PIED DE PAGE */
footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  padding-top: 30px;
  margin-top: 30px;
}
.footer_title {
  font-size: 1em;
  margin-left: 40px;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
ul {
  list-style-type: none;
}
ul > * {
  margin-bottom: 10px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer li:hover{
  text-decoration: underline;
}
 
/* LES MEDIAS QUIERIES */
 
@media all and (max-width: 1240px) {
  #bloc_page {
    padding: 0 30px 10px 30px;
    margin: auto;
    display: grid;
    flex-direction: column;
}
.corps {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-right: 30px;
}
aside {
  width: 100%;
  padding-bottom: 10px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bouton_text {
  height: 118%;
}
.aside__grid {
  flex-direction: row;
}
footer {
  height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-top: 30px;
}
h3 {
  font-size: 1em;
}
}
/* VERSION DESKTOP */
@media all and (max-width: 1024px) {
  #bloc_page {
    padding: 0 5px 5px 5px;
    margin: 0px;
    display: grid;
    flex-direction: column;
  }
  .corps {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .master {
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 10px 10px 10px 10px;
    margin: 5px;
  } 
  aside {
    width: 100%;
    padding-bottom: 10px;
  }
  .card--aside img {
    width: 35%;
    height: 250px;
    border-radius: 15px 0 0 15px;
  }
  .banniere_filtre {
    margin-left: 10px;
  }
  .card--aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    padding: 5px;
  }
  .bouton_text {
    height: 116%;
  }
  .card--main img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
  }
  .card--section img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 270px;
  }
  .section__title {
    margin-left: 10px;
    height: 50px;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main__grid {
    display: flex;
    flex-direction: column;
  }
  .aside__grid {
    display: flex;
    flex-direction: column;
  }
  .section__grid {
    display: flex;
    flex-direction: column;
  }
 
  .nav {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 0;
    margin-bottom: 0;
}   
  nav a {
  font-size: 1.2em;
  color: black;
  padding-bottom: 3px;
  text-decoration: none;
}
.nav__item--hebergements {
  grid-area: 2/2;
  justify-self: start;
}
.nav__item--activites {
  grid-area: 2/4;
  justify-self: start;
}
nav {
  border-bottom: #d9d9d9 3px solid;
  padding-bottom: 10px;
}
nav a:hover{
  text-decoration:none; 
}
.nav__item--activites:hover, .nav__item--hebergements:hover{
  border-top: none;
  border-bottom: #0065fc solid 3px;
  margin-bottom: -22px;
  padding-left: 30%;
  margin-left: -30%;
  padding-right: 30%;
  margin-right: -30%;
  padding-bottom: 22px;
}
 
.nav__item--hebergements:hover{
  padding-left: 35%;
  margin-left: -35%;
}
.nav__item--activites:hover{
  padding-right: 35%;
  margin-right: -35%;
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 10px;
}
h3 {
  font-size: 1.80em;
}
p {
font-size: 1.1em;
margin-left: 10px;
}
.true i {
  color: #0065FC;
  font-size: 1.3em;
  margin-bottom: 10px;
}
footer {
  height: 110%;
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
  flex-direction: column;
}
.bouton_icon i {
  margin: 12px 0 12px 12px;
}
}
@media all and (max-width: 901px) {
  #bloc_page {
    margin: 0px;
    display: grid;
    flex-direction: column;
  }
  .corps {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
.nav {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 0;
    margin-bottom: 0;
}
nav a {
  font-size: 1.2em;
  color: black;
  padding-bottom: 3px;
  text-decoration: none;
}
.nav__item--hebergements {
  grid-area: 2/2;
  justify-self: start;
}
.nav__item--activites {
  grid-area: 2/4;
  justify-self: start;
}
nav {
  border-bottom: #d9d9d9 3px solid;
}
nav a:hover{
  text-decoration:none; 
}
.nav__item--activites:hover, .nav__item--hebergements:hover{
  border-top: none;
  border-bottom: #0065fc solid 3px;
}
 
.nav__item--hebergements:hover{
  padding-left: 100%;
  margin-left: -100%;
}
.nav__item--activites:hover{
  padding-right: 105%;
  margin-right: -100%;
}
.nav__item {
  margin-top: 15px;
}
.banniere_filtre {
  width: 90%;
  height: 200px;
}
.bouton_icon i {
  margin: 12px 0 12px 12px;
}
.btn__button--icon {
  display: inline;
  color: white;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  height: 116%;
  width: 65px;
  border: 1px solid;
  box-shadow: 2px 2px 5px grey;
}
.bouton_text {
  display: none;
 
}
.bouton_text:hover {
  box-shadow: 5px 5px 5px gray;
}
.aside__grid, .main__grid {
  margin: 10px;
  gap: 30px;
}
}
/* VERSION TABLETTE */
@media all and (max-width: 769px) {
.banniere_filtre {
  width: 90%;
  height: 200px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
.filter {
  margin-left: 50px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 18px 0 0;
  font-size: 1em;
  font-weight: bold;
  border: #F2F2F2 2px solid;
  border-left: none;
  border-radius: 50px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
  justify-content: center;
} 
.bouton {
  display: flex;
  height: 40px;
  width: 500px;
  border: 2px solid #F2F2F2;
  border-radius: 15px;
  justify-content: space-between;
  margin:0px 120px 0px 120px;
} 
input {
width: 370px;
}
.fa-map-marker-alt:before {
  content: "\f3c5";
  margin: 12px 0px 0px 12px;
}
h1 {
  font-size: 1.2em;}
h3 {
  font-size: 1.5em;
}
section {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  margin-top: 40px;
}
footer {
  height: 90%;
}
}
/* VERSION MOBILE */
@media all and (max-width: 376px) {
  body {
    margin: 0px;
    display: grid;
    flex-direction: column;
    width: 150%;
  }
  .corps {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  
.filters { 
  width: 70%;
  display: flex;
  justify-content: start;
}
.banniere_filtre {
  width: 90%;
  height: 255px;
}
.filter {
  margin-left: 10px;
}
.bouton {
  display: flex;
  height: 50px;
  width: 110%;
  border: 2px solid #F2F2F2;
  border-radius: 15px;
  justify-content: space-between;
  margin: auto;
}
.master {
  border-radius: 15px;
  background-color: #F2F2F2;
}
h1 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}
ul.nav {
  margin-left: 0px;
  padding-left: 0px;
}
footer {
  height: 110%;
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
  flex-direction: column;
}
}
 
