  body {
  background-color:#ffffff;
  font-family: 'Raleway', sans-serif;
  }

  #bloc_page{
    padding: 0 30px 10px 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
/* haut de page */
  header{
  height: 11%;
  }
  #titre_principal{
    display: flex;
    flex-direction:column;
  }
  #logo{
    width: 100px;
    grid-area: 1 / 1;
  }
  img {
    object-fit: cover;
  }
  .nav {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    margin-left: -40px;
    gap: 30px;
    align-items: center;
}
.nav_item {
  margin-top: 15px;
}
.nav__item--hebergements {
  grid-area: 1 / 4;
  justify-self: end;
}
.nav__item--activites {
  grid-area: 1 / 5;
  justify-self: end;
}
.nav__item--inscription {
  grid-area: 1 / 6;
  justify-self: end;
  font-weight: bold;
}
  nav a{
    font-size: 1.2em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}
  nav a:hover{
    color:#0065FC;
    text-decoration:overline;  
  }
  h1{
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0px;
  }
/* filtres */
.banniere_filtre{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
}
.bouton{
  display: flex;
  height: 40px;
  width: 300px;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  border-right: none;
}
form{
  margin-top: 0em;
}
.bouton_icon {
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 55px;
  padding-right: 10px;
  border:none
}
.bouton_icon i {
  margin: 12px 0 0 12px;
}
.fa, .fas{
  font-weight: 900;
}
.fa, .fab, .fab, .fal, .far, .fas{
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-map-marker-alt:before{
  content: "\f3c5";
}
input{
  border: none;
  width: 310px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1em;
}
imput[type="text" i]{
  padding: 1px 2px;
}
input{
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255),rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
}
.bouton_text{
  color: white;
  background-color: #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  border: none;
}
/* Barre de filtres */
.options {
  height: 11%;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0px;
}
.filter{
  margin-left: 15px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 18px 0 0;
  font-size: 1em;
  font-weight: bold;
  border: #DEEBFF 2px solid;
  border-left: none;
  border-radius: 50px;
}
a{
  text-decoration: none;
  color:black;
}
.filter__ico {
  border-radius: 50%;
  background-color: #DEEBFF;
  padding: 12px;
  margin-right: 15px;
  color: #0065fc;
}
.icon--bill i{
  padding: 1px;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
a:-webkit-any-link{
  cursor: pointer;
}
.fa-money-bill-wave::before{
  content: "\f53a";
  color: #0065FC;
}
.fa-child::before{
  content:"\f1ae";
  color:#0065FC;
}
.fa-heart:before{
  content: "\f004";
  color: #0065FC;
}
.fa-dog:before{
  content: "\f6d3";
  color: #0065FC;
}
p {
font-size: 0.9em;
line-height: 1em;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.position i {
  color: #0065FC;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -webkit-font-smoothing:antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-info-circle:before {
  content: "\f05a";
  color: #0065FC;
}
/* Corps de page */

.corps {
  display: flex;
  justify-content: space-between;
}
.master {
  border-radius: 15px;
  background-color: #F2F2F2;
  padding: 10px 20px 10px 10px;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
}
.main__grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.grig {
  margin-top: 20px;
  gap: 20px;
}
.card--main {
  padding: 5px;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.card {
  border: 0px black solid; 
  box-shadow: 1px 1px 1px grey;
  border-radius: 15px;
  background-color: white;
  margin: auto;
  width: 100%;
  margin-top: 20px; 
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
a {
  text-decoration: none;
  color: black;
}
a.plus:hover{
  text-decoration: underline;
}
.card--main img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 110px;
}
img {
  object-fit: cover;
}
.card__description {
  margin: 3px;
}
.figure__title {
  line-height: 0.3em;
  margin-top: -10px;
  padding-top: 0;
}
h3 {
  font-size: 0.9em;
  line-height: 1em;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
em{
  font-style: normal;
  color: #0065FC;
}
.bold {
  font-weight: bold;
}
.true i {
  color: #0065FC;
  font-size: 1.3em;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-star:before {
  content: "\f005";
  color: gray;
  cursor: pointer;
}
.fa-star.blue::before {
  content: "\f005";
  color:#0065FC;
}
.card__notation:hover .fa-star::before {
  content: "\f005";
  color: #0065FC;
}
/* les plus populaires */
.master {
  border-radius: 15px;
  background-color: #F2F2F2;
  padding: 10px 10px 10px 10px;
  margin: 0;
}
main {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
aside {
  width: 25%;
}
.corps .title, .more {
  margin-left: 30px;
  margin-top: 20px;
}
.aside__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aside__title i {
  color: black;
  margin: 20px 20px 0 0;
}
.fa-chart-line:before {
  content: "\f201";
  color: #000000;
}
.aside__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aside__grid, .main__grid {
  margin: 20px;
  gap: 30px;
}
.card--aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  padding: 5px;
}
.card--aside img {
  width: 100px;
  height: 150px;
  border-radius: 15px 0 0 15px;
}
aside .card__description {
  display: flex;
  flex-direction: column;
}
.card__description {
  margin: 4px;
}
/* les activités à Marseille */
section {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin-top: 40px;
}
.section__grid {
  display: grid;
  grid-template: repeat(2, 224px) / repeat(4, 1fr);
  margin-top: 20px;
  gap: 20px;
}
.card--vieux-port {
  grid-area: 1 / 1 / 3 / 2;
  align-self: start;
  margin-top: 0;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.hover:hover{
  box-shadow: 1px 1px 5px grey;
  cursor: pointer;
}
.card--vieux-port img {
  height: 420px;
}
.card--section img {
  border-radius: 15px 15px 0 0;
  width: 100%;}
.section__title {
  margin-left: 5px;
  height: 30px;
}
.card--pomegues {
  grid-area: 1 / 2 / 3 / 3;
  align-self: start;
  margin-top: 0;
}
.card--pomegues img {
  height: 200px;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.card--frioul {
  grid-area: 2 / 2 / 4 / 3;
  margin-top: 46px;
}
.card--main, .card--section {
  display: flex;
  flex-direction: column;
}
.card--frioul img {
  height: 130px;
}
.card--calanques {
  grid-area: 1 / 3 / 3 / 4;
  align-self: start;
  margin-top: 0;
}
.card--calanques img {
  height: 420px;
}
.card--notre-dame {
  grid-area: 1 / 4 / 2 / 5;
  align-self: start; 
  margin-top: 0;
}
.card--notre-dame img {
  height: 196px;
}
.card--longchamp {
  grid-area: 2 / 4 / 3 / 5;
  margin-top: 20px;
}
.card--longchamp img {
  height: 156px;
}
/* pied de page */
footer {
  height: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: -35px;
  margin-right: -35px;
}
.footer_title {
  font-size: 1em;
  margin-left: 40px;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
ul {
  list-style-type: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer li:hover{
  text-decoration: underline;
}

/* Responsive media */

@media all and (max-width: 1240px) {
  #bloc_page {
    padding: 0 30px 10px 30px;
    margin: auto;
    display: grid;
    flex-direction: column;
}
.corps {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-right: 30px;
}
aside {
  width: 100%;
  padding-bottom: 10px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aside__grid {
  flex-direction: row;
}
footer {
  height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-top: 30px;
}
}
@media all and (max-width: 1024px) {
  .corps {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-right: 30px;
  }
  aside {
    width: 100%;
    padding-bottom: 10px;
  }
  .card--aside img {
    width: 35%;
    height: 250px;
    border-radius: 15px 0 0 15px;
  }
  .card--aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    padding: 5px;
  }
  .card--main img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
  }
  .card--section img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 270px;
  }
  .section__title {
    margin-left: 10px;
    height: 50px;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main__grid {
    display: flex;
    flex-direction: column;
  }
  .aside__grid {
    display: flex;
    flex-direction: column;
  }
  .section__grid {
    display: flex;
    flex-direction: column;
  }
  footer {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-top: 30px;
  }  
  .nav {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: none;
    margin-left: -40px;
    gap: 30px;
    align-items: center;
}
nav a {
  font-size: 1.2em;
  color: black;
  padding-bottom: 3px;
  text-decoration: none;
}
.nav__item--hebergements {
  grid-area: 3/2;
  justify-self: end;
}
.nav__item--activites {
  grid-area: 3/5;
  justify-self: end;
}
nav {
  border-bottom: #d9d9d9 3px solid;
}
nav a:hover{
  text-decoration:none; 
}
.nav__item--activites:hover, .nav__item--hebergements:hover{
  border-top: none;
  border-bottom: #0065fc solid 2px;
}

.nav__item--hebergements:hover{
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 20%;
  margin-left: -35%;
}
.nav__item--activites:hover{
  padding-right: 35%;
  padding-left: 35%;
  padding-bottom: 20%;
  margin-right: -35%;
}
h3 {
  font-size: 1.80em;
}
p {
font-size: 1.1em;
}
.true i {
  color: #0065FC;
  font-size: 1.3em;
  margin-bottom: 10px;
}
footer {
  height: 90%;
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
  flex-direction: column;
}
.bouton_icon i {
  margin: 12px 0 12px 12px;
}
}
@media all and (max-width: 900px) {
.banniere_filtre {
  width: 90%;
  height: 200px;
}
.bouton_icon i {
  margin: 12px 0 12px 12px;
}
}
@media all and (max-width: 376px) {
.banniere_filtre {
  width: 90%;
  height: 200px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
.filter {
  margin-left: 50px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 18px 0 0;
  font-size: 1em;
  font-weight: bold;
  border: #DEEBFF 2px solid;
  border-left: none;
  border-radius: 50px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 105%;
  justify-content: center;
} 
.bouton {
  display: flex;
  height: 40px;
  width: 85%;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  border-right: none;
  justify-content: flex-end;
  margin-left: 50px;
} 
.bouton_icon i {
    margin: 12px 0 12 12px;
}
imput {
padding-left: 100px;
}
.fa-map-marker-alt:before {
  content: "\f3c5";
  margin: 12px 0px 0px 12px;
}
}
